<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head',{title: 'Editar perfil' }) %>

    <body>

        <%- include('../partials/header') %>

        <main class="editarPerfil">
            <div class="centrar"></div>
            <section class="section1">
                <h2>Edicion de Perfil</h2>
                <form action="/usuarios/editarPerfil/<%= locals.usuarioLogin.id %>?_method=PUT" method="POST" enctype="multipart/form-data" id="formulario">
                    <article class="article1">

                        <label for="imagenes">
                                <div class="imgPosicion">
                                <div class="imgPerfil">
                                <img id="img-preview"
                                src="/img/usuarios/<%=usuarioLogin.imagen%>" alt="">
                            </div>
                        </div>
                            </label>
                            <div class="custom-input-file">
                            <p class="imagentext">Imagen perfil</p>
                            <input id="imagen" type="file" name="imagenes" class="input-file"
                            placeholder="Imagen del Producto" accept="img/*">
                        </div>
                        <p class="span text-danger" id="imgError" style="width: 500px;">
                            <%= locals.errors && errors.imagen ? errors.imagen.msg : null %>
                        </p>
                        </div>

                        <div class="container bottom">
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre"
                                value="<%= locals.usuarioLogin ? locals.usuarioLogin.nombre : null %>">
                                <div id="nameContainer"></div>
                            
                        </div>
                        <div class="container bottom">
                            <label for="apellido">Apellido</label>
                            <input type="text" name="apellido" id="apellido" placeholder="Ingresa tu  apellido"
                                value="<%=  locals.usuarioLogin ? locals.usuarioLogin.apellido : null %>">
                            <div id="apellidoContainer"></div>
                        </div>

                        <div class="container bottom">
                            <label for="contacto">Contacto</label>
                            <input type="text" name="contacto" id="contacto" placeholder="Ingresa tu  contacto"
                                value="<%=  locals.usuarioLogin ? locals.usuarioLogin.contacto : null %>">
                            <div id="contactoContainer"></div>
                        </div>

                        <div class="container bottom">
                            <label for="ciudad">Ciudad</label>
                            <input type="text" name="ciudad" id="ciudad" placeholder="Ingresa tu  ciudad"
                                value="<%=  locals.usuarioLogin ? locals.usuarioLogin.ciudad : null %>">
                            <div id="ciudadContainer"></div>
                        </div>
                        
                        <label class="genero">Género</label>
                        <select class="form-select" name="genero" id="genero" aria-label="Floating label select example">
                            <% if (locals.usuarioLogin.genero == 'Femenino' ) { %>
                                <option value="<%=locals.usuarioLogin.genero %>"><%=locals.usuarioLogin.genero %></option>
                                <option value="Masculino">Masculino</option>
                                <option value="Otro">Otro</option>
                                  <% }%>
                                  
                                  <% if (locals.usuarioLogin.genero == 'Masculino' ) { %>
                                    <option value="<%= locals.usuarioLogin.genero %>"><%=locals.usuarioLogin.genero %></option>
                                    <option value="Femenino">Femenino</option>
                                    <option value="Otro">Otro</option>
                                      <% }%>
                                      
                                      <% if (locals.usuarioLogin.genero == 'Otro' ) { %>
                                        <option value="<%=  locals.usuarioLogin.genero %>"><%=locals.usuarioLogin.genero %></option>
                                        <option value="Femenino">Femenino</option>
                                        <option value="Masculino">Masculino</option>
                                          <% }%>

                                          <% if (locals.usuarioLogin.genero == '' ) { %>
                                            <option hidden value="">Seleccionar género</option>
                                            <option value="Otro">Otro</option>
                                            <option value="Femenino">Femenino</option>
                                            <option value="Masculino">Masculino</option>
                                              <% }%>
                         </select> 


                        <button class="cuenta" style="margin: 5px;" type="submit">Editar</button>
                        <button class="cuenta" style="margin: 5px;" type="reset">Cancelar</button>
                    </article>
                </form>
            </section>
        </div>
            </main>
            <%- include('../partials/footer') %>
            <script src="/javascripts/imagenes.js"></script>
           <!--  <script src="/javascripts/editarPerfil.js"></script> -->
    </body>

</html>