<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head',{title: 'editarPerfil' }) %>

    <body class="register">

        <%- include('../partials/header') %>

            <main>
                <section>
                    <h2>Edicion de Perfil</h2>

                    <form action="/usuarios/editarPerfil/<%= locals.usuarioLogin.id %>?_method=PUT" method="POST" enctype="multipart/form-data" id="formulario">

                        <div class="container bottom">
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre"
                                value="<%= locals.usuarioLogin ? locals.usuarioLogin.nombre : null %>">
                                <div id="nameContainer"></div>
                            
                        </div>
                        <div class="container bottom">
                            <label for="apellido">Apellido</label>
                            <input type="text" name="apellido" id="apellido" placeholder="Ingresa tu  apellido"
                                value="<%=  locals.usuarioLogin ? locals.usuarioLogin.apellido : null %>">
                            <div id="apellidoContainer"></div>
                        </div>

                        <div class="container bottom">
                            <label for="contacto">Contacto</label>
                            <input type="text" name="contacto" id="contacto" placeholder="Ingresa tu  contacto"
                                value="<%=  locals.usuarioLogin ? locals.usuarioLogin.contacto : null %>">
                            <div id="contactoContainer"></div>
                        </div>

                        <div div class="col col-5">
                            <label class="form-label" for="imagenes">
                                <img id="img-preview"
                                class="img-fluid img-thumbnail imagen-height rounded"
                                src="/img/usuarios/<%=usuarioLogin.imagen%>" alt="">
<!--                                 <div class="imgHover">
                                    <p class="text-center">Selecionar Imagen</p>
                                </div> -->
                            </label>
                            <input class="form-input" id="imagen" type="file" name="imagenes"
                            placeholder="Imagen del Producto" accept="img/*">
                        
                       
                        <p class="span text-danger" id="imgError" style="width: 500px;">
                            <%= locals.errors && errors.imagen ? errors.imagen.msg : null %>
                        </p>
                        </div>
                        <button  style="margin: 5px;" type="submit">Editar</button>
                        <button  style="margin: 5px;" type="reset">Cancelar</button>
                    </div>
                    </form>
                </section>
            </main>
            <%- include('../partials/footer') %>
            <script src="/javascripts/imagenes.js"></script>
    </body>

</html>