<!DOCTYPE html>
<html lang="es">

<%-include('../partials/head',{title: 'Register'})  %>

<body class="register">
    
    <%- include('../partials/header') %>

    <main>
        <section class="container-image">
            <div>
                <img src="" alt="">
            </div>
        </section>
        <section>
            <h2>Registro</h2>
            <p>completa los siguientes datos</p>
            <form action="/usuarios/register"  method="POST">
                <div class="container bottom">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre" required>
                    <% if (locals.errors && errors.nombre) { %>
                        <small><%= errors.nombre.msg %></small>
                    <% } %>
                </div>
                <div class="container bottom">
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" id="apellido" placeholder="Ingresa tu apellido" required>
                    <% if (locals.errors && errors.apellido) { %>
                        <small><%= errors.apellidp.msg %></small>
                    <% } %>
                </div>
                <div class="container bottom">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Ingresa un email">
                    <% if (locals.errors && errors.email) { %>
                        <small><%= errors.email.msg %></small>
                    <% } %>
                </div>
                <div class="container bottom">
                    <label for="pass">Contraseña</label>
                    <input type="password" name="contrasenia" id="contrasenia" placeholder="Ingresa una Contraseña">
                    <small>Debe ingresar su contraseña</small>
                </div>
                <div class="container bottom">
                    <label for="pass"> Confirmá tu contraseña</label>
                    <input type="password" name="contrasenia2" id="contrasenia2" placeholder="Ingresa tu Contraseña">
                    <small>Debe ingresar su contraseña</small>
                </div>
                <div class="container bottom">
                    <label for="imagen">Subí tu imagen de perfil</label>
                    <input type="file" name="imagen" id="imagen">
                    <small>No se ha subido ninguna imagen</small>
                </div>
                <button type="submit">Crear cuenta</button>
                <!-- <button type="reset">Cancelar</button> -->
            </form>
        </section>
        <h4>¿Ya tenés una cuenta? <a href="/usuarios/login">Inicia sesión</a></h4>

    </main>


    <%- include('../partials/footer') %>

</body>

</html>