<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head',{title: 'Register'}) %> 

<body class="register">
    
    <%- include('../partials/header') %>

    <main>
        <section class="container-image">
            <div>
                <img src="" alt="">
            </div>
        </section>
        <section>
            <h2>Registro</h2>
            <p>completa los siguientes datos</p>
            <form action="" method="POST" enctype="multipart/form-data">
                <div class="container bottom">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre" value="<%= locals.old && old.nombre ? old.nombre : null %>">
                    <% if (locals.errors && errors.nombre) { %>
                        <small><%= errors.nombre.msg%></small>
                       <% } %>
                    
                </div>
                <div class="container bottom">
                    <label for="nombre">Apellido</label>
                    <input type="text" name="apellido" id="apellido" placeholder="Ingresa tu git apellido" value="<%= locals.old && old.apellido ? old.apellido : null%>">
                    <% if (locals.errors && errors.apellido) { %>
                        <small><%= errors.apellido.msg%></small>
                       <% } %>
                    
                </div>
                <div class="container bottom">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Ingresa un email" value="<%= locals.old && old.email ? old.email : null %>">
                    <% if (locals.errors && errors.email) { %>
                        <small><%= errors.email.msg%></small>
                       <% } %>
                   
                </div>
                <div class="container bottom">
                    <label for="contrasenia">Contraseña</label>
                    <input type="password" name="contrasenia" id="contrasenia" placeholder="Ingresa una Contraseña">
                    <% if (locals.errors && errors.contrasenia) { %>
                        <small><%= errors.contrasenia.msg%></small>
                       <% } %>
                    
                </div>
                <div class="container bottom">
                    <label for="contrasenia2"> Confirmá tu contraseña</label>
                    <input type="password" name="contrasenia2" id="contrasenia2" placeholder="Ingresa tu Contraseña">
                    <% if (locals.errors && errors.contrasenia2) { %>
                        <small><%= errors.contrasenia2.msg%></small>
                       <% } %>
                </div>
                <div class="imagenPerfil">
                    <label for="imagen">Foto de perfil</label>
                    <input type="file" name="imagen" id="imagen">
                    <% if (locals.errors && errors.imagen) { %>
                        <small><%= errors.imagen.msg%></small>
                       <% } %>
                </div>

                <button type="submit">Crear cuenta</button>
                <!-- <button type="reset">Cancelar</button> -->
            </form>
        </section>
        <h4>¿Ya tenés una cuenta? <a href="/usuarios/login">Inicia sesión</a></h4>

    </main>


    <%- include('../partials/footer') %>

</body>

</html>