<div class="card">
  <a href="/productos/detalle/<%= id %> ">
    <div class="card-img">
      <div class="card-img-background">
        <img class="imgMain" src="/img/<%=imagenes%>" " alt="">
      </div>
    </div>
  <h3 class=" card-titulo">
      <%=titulo%>
        </h3>
        <h4 class="card-marca">
          <%=marca%>
        </h4>
        
        <div class="card-valor">
          <p class="card-descuento">
            <%=descuento%>%
          </p>
          <p class="card-precio">$<%=precio - (precio * descuento / 100)%>
          </p>
        </div>
        <div class="card-button">
          <button>VER PRODUCTO</button>
        </div>

        
  </a>
</div>

      


















<!-- <div class="card">
    <img src="/img/<%= producto.imagenes[0] %> " class="card-img-top" alt="...">
    <div class="card-box">
      <div class="card-body">
        <h5 class="card-title">
          <%= producto.titulo %>
        </h5>
        <p class="card-text">
          <%= producto.descripcion %>
        </p>
        <a href="/productos/detalle/<%= producto.id %> " class="btn btn-primary">Ver producto</a>
      </div>
    </div> 
  </div>
   -->