<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head',{title: 'Detalle de Producto' }) %>

    <body class="detalle">
        <%- include('./partials/header') %>
            <main>

                <section>
                    <div class="imagen-principal">
                        <img src="/img/<%= producto.imagenes[0] %> " alt=" ">
                    </div>
                    <!-- <div>
                imagenes secundarias "carrousel"
            </div> -->
                    <section>
                        <div class="textoDerecha">
                            <div>
                                <h1>
                                    <%= producto.titulo %>
                                </h1>
                                <p class="precio">$ <%= producto.precio %>
                                </p>
                            </div>
                            <div class="contenedor">
                                <div class="sumar-carrito">
                                    <!-- boton de cantidad -->
                                    <div class="restar">-</div>
                                    <input type="number">
                                    <div class="agregar">+</div>
                                </div>
                                <a href="/producto/carrito"><button>Añadir al carrito</button></a>
                                <!-- boton de agregar al carrito -->
                            </div>
                        </div>
                    </section>
                    <section class="detail">
                        <h2>Detalle del producto</h2>
                        <p>
                            <%= producto.descripcion %>
                        </p>
                    </section>
                    <section>
                        <h2>Productos Relacionados</h2>
                        <% for( let i=0; i < 10; i++ ) { %>
                            <a href="/producto/detalle/productosGatos[i].id %>">
                                <article>
                                    <div class="related-img-0"></div>
                                    <img src="/img/<%= productosGatos[i].imagenes[0] %>" alt="">
                                    <p>$<%= productosGatos[i].precio %>
                                    </p>
                                    <h4>
                                        <%= productosGatos[i].titulo %>
                                    </h4>
                                    <button>añadir al carrito</button>
                                </article>
                            </a>
                            <% } %>
                    </section>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>