<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head',{title: 'Mundo Pets'}) %> 

<body class="productos">
    <%- include('./partials/header') %> 
    <main>

       <!-- include banner colocar aca  -->
        <!-- Categoria -->
        
        <h1><%= categoriaSeleccionada %> </h1>

     <section>
        <% productoPorCategoria.forEach(producto => { %>
            <article>
                <h3><%= producto.marca %> </h3>
                <h4><%= producto.titulo %> </h4>
            </article>
         
        <% }) %> 
     </section>





     
     
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>
     
     
     
     
     
     
     
     
     
     
     
     
       