<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{title: 'MundoPets' }) %>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">

  <body>
    <%- include('./partials/header') %> 
    <main>
      <h1>PRODUCTOS</h1>

      <h2>Gatos</h2>
      <% productos.forEach(producto=> { %>
        <div class="col-sm-6">
          <img src="/img/<%= producto.imagenes[0] %> " class="card-img-top" alt="...">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <%= producto.titulo %>
              </h5>
              <p class="card-text">
                <%= producto.descripcion %>
              </p>
              <a href="/productos/detalle/<%= producto.id %> " class="btn btn-primary">Ver producto</a>
            </div>
          </div>

        </div>

        <% }) %>


          <h2>Perros</h2>
          <% productos.forEach(producto=> { %>
            <div class="col-sm-6">
              <img src="/img/<%= producto.imagenes[0] %> " class="card-img-top" alt="...">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">
                    <%= producto.titulo %>
                  </h5>
                  <p class="card-text">
                    <%= producto.descripcion %>
                  </p>
                  <a href="/productos/detalle/<%= producto.id %> " class="btn btn-primary">Ver producto</a>
                </div>
              </div>

            </div>

            <% }) %>

    </main>

    <%- include('./partials/footer') %> 

  </body>

</html>