<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head',{title: 'Detalle de Producto' }) %>

    <body>

        <%- include('./partials/header') %>
    
            <main class="detalle">
                <section class="section1">
                    <!-- imagen -->
                    <div class="imagenProducto">
                        <img src="/img/<%= producto.imagen %> " alt=" ">
                    </div>
                        <article class="articleProducto">
                            <div class="divColum">
                                    <!-- titulo -->
                                <div class="titulo">
                                    <%= producto.titulo %>
                                </div>
                                <!-- precio -->
                                <div class="divRow">
                                <div class="precioColum">
                                    <p class="precio">$ <%= producto.precio %></p>
                                <div class="precioDescuento">
                                <p class="precioFinal">$ <%= producto.precio - (producto.precio * producto.descuento/ 100) %></p>
                                <p class="descuento"><%= producto.descuento %>% OFF</p>
                            </div>
                            </div>
                                <div class="carrito">
                                    <div class="agregar">
                                        <!-- boton cantidad -->
                                        <input value="<%= producto.stock %>" id="stockOculto" />
                                        <button class="botonSacar" id="decrease"><i
                                            class="fa-solid fa-circle-minus"></i></button>
                                        <input type="agregarNum" id="contador" value="1">
                                        <div class="botonAgregar" id="increase"><i class="fa-solid fa-circle-plus"></i></div>
                                    </div>
                                    <!-- boton agregar carrito -->
                                    <a href="/productos/carrito"><button class="botonCarrito">Añadir al carrito</button></a>
                                </div>
                            </div>
                            </div>
                        </article>
                    </section>
                    <!-- descripcion -->
                    <section class="descripcion">
                        <h2 class="textoDescripcion">Descripción</h2>
                        <p class="parrafo"><%= producto.descripcion %></p>
                    </section>
                    <section class="productosRelacionados">
                        <h2>Productos Relacionados</h2>
                    </section>
            </main>
            <script src="/javascripts/increase.js"></script>

            
    <%- include('./partials/footer') %>

    </body>

</html>