<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head',{title: 'Mundo Pets'}) %> 

<body class="productos">
    <%- include('./partials/header') %> 
    <main>

        <%- include('./partials/banner') %> 
        <!-- Categoria -->
        
        <h1><%= categoriaSeleccionada %></h1>

        <section class="carrouselProductos">
            <div class="glider-contain">
                <div class="glider">
                    <% productoPorCategoria.forEach(productos => { %>
                        <%- include('./partials/cards',{
                            id:productos.id,
                            imagenes:productos.imagenes[0],
                            nombre:productos.titulo,
                            descuento:productos.descuento,
                            precio:productos.precio
                        }) %> 
                    <% }) %>
                </div>             
                <button aria-label="Previous" class="glider-prev"><i class="fas fa-chevron-left"></i></button>
                <button aria-label="Next" class="glider-next"><i class="fas fa-chevron-right"></i></button>
                <div role="tablist" class="dots"></div>
              </div>
        </section>
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>
       